* {
    margin: 0;
}

html{
    background-color: #191817;
    overflow: hidden;
    font-family: 'Montserrat', 'Sans-serif';
}

.left {
    border-left: solid #fff9e7 0.32em;
    width: 80%;
    height: 80%;
    left: 10%;
    bottom: 20%;
    position: absolute;
    z-index: -1;
}

.right {
    border-right: solid #fff9e7 0.32em;
    width: 80%;
    height: 85%;
    right: 10%;
    top: 15%;
    position: absolute;
    z-index: -1;
}

.nav {
    display: flex;
    flex-direction: column;
    color: #fff9e7;
    position: absolute;
    width: fit-content;
    left: 86vw;
    border: 0;
    padding: 0.75em 0;
    z-index: 1;
    cursor: pointer;
}

.nav ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    row-gap: .75em;
}

.nav ol li .text {
    transition-property: opacity;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.text:hover {
        opacity: .25;
}

.text {
    text-decoration: none;
    color: #fff9e7;
    justify-content: center;
}

.box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 79.4%;
    left: 10.2%;
}

.t_box {
    display: flex;
    position: absolute;
    height: 24.6%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 75%;
}

h1.title {
    display: flex;
    position: relative;
    color: #fff9e7;
    width: fit-content;
    height: fit-content;
    bottom: 15%;
    font-size: 3em;
    letter-spacing: .3em;
    font-weight: 500;
}

.line {
    display: flex;
    position: relative;
    border: solid #fff9e7 1pt;
    width: 70%;
}

.ut {
    display: flex;
    position: relative;
    top: 15%;
    width: fit-content;
    height: fit-content;
    color: #fff9e7;
    text-align: center;
    font-weight: 300;
}

.l_box {
    display: flex;
    position: relative;
    height: 80%;
    width: 50%;
    justify-content: center;
    top: 15%;
    flex-direction: column;
    padding: 0 3%;
}

h2.about {
    display: flex;
    position: relative;
    color: #fff9e7;
    width: fit-content;
    height: fit-content;
    bottom: 11.7%;
    font-weight: 500;
    font-size: 2em;
}

.para_l {
    position: relative;
    color: #fff9e7;
    width: fit-content;
    height: fit-content;
    line-height: 1.5rem;
    bottom: 7.7%;
}

.link {
    text-decoration: none;
    color: #fff9e7;
    transition-property: opacity;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
    font-weight: 600;
    cursor: pointer;
}

.link:hover {
    opacity: .25;
}

.r_box {
    display: flex;
    position: relative;
    height: 80%;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    top: 15%;
    padding: 0 3%;
}

h2.skill {
    display: flex;
    position: relative;
    color: #fff9e7;
    width: fit-content;
    height: fit-content;
    font-weight: 500;
    font-size: 2em;
    top: 6%;
}

.s_t {
    display: flex;
    position: relative;
    color: #fff9e7;
    height: fit-content;
    width: fit-content;
    top: 10%;
}

.a_s {
    display: flex;
    position: relative;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    flex-wrap: wrap;
    top: 12%;
}

.skills {
    display: flex;
    position: relative;
    height: fit-content;
    width: fit-content;
    margin-bottom: .8rem;
    margin-right: .8rem;
    font-size: 1rem;
    background-color: rgba(255, 249, 231, 95%);
    border-radius: 5px;
    font-weight: 600;
    color: #33312e;
    transition-property: background-color color;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
    cursor: pointer;
}

.s_box {
    height: fit-content;
    width: fit-content;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 600;
    transition-property: background-color color;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
    cursor: pointer;
}

.skills:hover {
    background-color: #33312e;
    color: rgba(255, 249, 231, 80%);
}

.skills > .s_box {
    list-style: none;
}

.rrr {
    font-size: 1.5rem;
    text-align: center;
}

.social {
    display: flex;
    position: relative;
    align-items: center;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    padding: .35rem 0;
    right: 78.05vw;
    top: 40vh;
}

.soc {
    position: relative;
    background-color: #fff9e7;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin: .45rem;
    padding: .2rem;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
    cursor: pointer;
}

.soc:hover {
    opacity: 30%;
}

/* Responsive Site */

@media only screen and (max width: 600px) {

    font-size: 0.2rem;

}