* {
    margin: 0;
}

html{
    background-color: #191817;
    overflow: hidden;
    font-family: 'Montserrat', 'Sans-serif';
}

.text {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

h1 {
    position: relative;
    color: #fff9e7;
    font-weight: 400;
    font-size: 4.5rem;
    top: 5vh;
    letter-spacing: .3rem;
}

p {
    position: relative;
    color: #fff9e7;
    font-weight: 300;
    font-size: 1.3rem;
    top: 15vh;
}

a {
    text-decoration: none;
    color: #fff9e7;
    transition-property: opacity;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
    font-weight: 600;
    cursor: pointer;
}

a:hover {
    opacity: .25;
}
