* {
    margin: 0;
}

html{
    background-color: #191817;
    overflow: hidden;
    font-family: 'Montserrat', 'Sans-serif';
}

body {
    overflow: hidden;
}

.left {
    display: flex;
    border-left: solid #fff9e7 0.32em;
    width: 80%;
    height: 80%;
    left: 10%;
    bottom: 20%;
    position: absolute;
    z-index: -1;
}

.right {
    display: flex;
    border-right: solid #fff9e7 0.32em;
    width: 80%;
    height: 85%;
    right: 10%;
    top: 15%;
    position: absolute;
    z-index: -1;
}

.nav {
    display: flex;
    flex-direction: column;
    color: #fff9e7;
    position: relative;
    width: fit-content;
    left: 86vw;
    border: 0;
    padding: 0.75em 0;
    z-index: 1;
    cursor: pointer;
}

.nav ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    row-gap: .75em;
}

.nav ol li .text {
    transition-property: opacity;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.nav ol li .text:hover {
    opacity: .25;
}

.text {
    text-decoration: none;
    color: #fff9e7;
    justify-content: center;
}

.tbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.ttbox {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    border: 0;
    padding: 10em 0em;
    width: fit-content;
    height: fit-content;
    bottom: 30vh;
}

.line1 {
    display: flex;
    color: #fff9e7;
    font-family: 'Montserrat', 'Sans-serif';
    font-size: 0.9em;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    border: 0;
    padding: 0;
    z-index: -1;
    line-height: 3em;
}

.line2 {
    display: flex;
    color: #fff9e7;
    font-family: 'Montserrat', 'Sans-serif';
    font-size: 3.5em;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    border: 0;
    padding: 0;
    z-index: -1;
    font-weight: 0;
}

.line3 {
    display: flex;
    color: #fff9e7;
    font-family: 'Montserrat', 'Sans-serif';
    font-size: 3.5em;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    border: 0;
    padding: 0;
    z-index: -1;
    font-weight: 0;
    font-style: italic;
}

.line4 {
    display: flex;
    color: #fff9e7;
    font-family: 'Montserrat', 'Sans-serif';
    font-size: 0.9em;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    border: 0;
    padding: 0;
    z-index: -1;
    line-height: 3em;
}

.btn {
    display: flex;
    color: #fff9e7;
    font-family: 'Montserrat', 'Sans-serif';
    font-size: 1.2em;
    position: relative;
    align-items: center;
    width: fit-content;
    border: solid #fff9e7 1pt;
    border-radius: 0.5em;
    padding: 1.5em;
    text-decoration: none;
    z-index: 5;
    bottom: 45vh;
    right: 5.4vw;
    transition-property: opacity;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.btn:hover {
    opacity: .25;
}